* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: red;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    padding: 25px;
    line-height: normal;
}   

a {
    text-decoration: none;
}

article {
    color: blue;
}

table {
    border: 2px,white,solid;
    text-align: center;
}


td {
    color: aqua;
}

aside {
    text-align: center;
}

footer {
    text-align: center;
}

h3 {
    color: gray;
}